/* Main Template and Homepage */
html, body, #map {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    margin: 0;
    height: 100%;
    width: 100%;
}

.container-fluid {
    min-height: 100%;
    min-width: 100%;   
    position: relative;
}

p {
    line-height: 1.4em;
}

a, a:hover {
    color: #00BCD5;
}

h1, h2, h3, h4 {
    color: #555;
    font-weight: bold;
    font-size: 2.5em;
    line-height: 1.5em;
    margin-top: 16px;
}

h2, h3, h4 {
    font-size: 1.4em;
    margin: 25px 0 8px 0;
}

header {
    height: 120px;
    padding: 25px 55px;
    position: relative;
}

header h1 {
    margin-right: 40px;
    white-space: nowrap;
}

h1 a, h1 a:hover {
    color: #337ab7;
    text-decoration: none;
}

header nav {
    position: absolute;
    right: 28px;
    top: 50px;
    white-space: nowrap;
}

header nav li {
    display: inline-block;
    font-size: 1.2em;
    padding: 7px 17px;
    margin: 0;
    white-space: nowrap;
    outline: none !important;    
}

header nav li a {
    text-decoration: underline;
}

header nav li.active {
    color: #337ab7;
}

.main-content {
    background-color: #F3F3F3;
    padding: 37px 55px 35px 50px;
    margin-bottom: 52px;   /* same height as footer*/
    min-height: 82%;
    position: absolute;
}

select.country {
    background-color: #fff;
    border: 0;
    box-shadow: 3px 2px 5px lightgrey;
    color: #555;
    font-size: 1.3em;
    font-weight: bold;
    height: 38px;
    left: 40px;
    margin-bottom: 10px;
    outline: none !important;    
    position: relative;
    width: 150px;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin: 25px 20px 35px 20px;
    width: 100%;
}

.stat {
    border-radius: 5px;
    box-shadow: 1px 4px 4px lightgrey;
    background-color: #fff;
    color: #555;
    font-weight: bold;
    min-width: 140px;
    max-width: 265px;
    padding: 17px;
    text-align: center;
    width: 24%;
}

.stat h4 {
    font-size: 1.6em;
    margin: 2px 0 -4px 0;
}

.tested h4 {
    color: #38BB9B;
}

.confirmed h4 {
    color: #FE5722;
}

.fatalities h4 {
    color: #337ab7;
}

.charts {
    padding: 15px 0 0 5px;
}

.chart {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 6px 6px lightgrey;
    margin: 0 5px 30px 22px;
    padding: 10px 35px 20px 35px;
}

.chart h4 {
    font-size: 1em;
    margin: 20px 0 0 0;
}

.chart img {
    position: relative;
    width: 100%;
}

footer .social a, footer .social a:hover {
    color: #555;
    font-size: 1.25em;
    margin: 0 2px;
    text-decoration: none;
}

footer {
    background-color: #fff;
    border-top: 1px solid #f3f3f3;
    bottom: 0;
    color: #494949;
    padding: 18px 40px;
    position: fixed; 
    height: 55px;
    width: 100%;
}
